<h1><%= @user.username %>'s Page</h1>

<h2 class="user-section-header">Organized Events</h2>

<div class="events-container">
  <%= render @user.organized_events %>
</div>

<h2 class="user-section-header">Attending Events</h2>

<div class="events-container">
  <%= render partial: "events/event",
             collection: @user.upcoming_attended_events %>
</div>

<h2 class="user-section-header">Past Events</h2>

<div class="events-container">
  <%= render partial: "events/event",
             collection: @user.past_attended_events %>
</div>
